Repository BrandonRomano/waypoint, pull requests merged in 2023-01, with the labels that each got.

#5 AWS Integrations Docs
  builtin/aws/alb/README.md
  builtin/aws/alb/metadata.hcl
  builtin/aws/ami/README.md
  builtin/aws/ami/metadata.hcl
  builtin/aws/ec2/README.md
  builtin/aws/ec2/metadata.hcl
  builtin/aws/ecr/README.md
  builtin/aws/ecr/metadata.hcl
  builtin/aws/ecr/pull/README.md
  builtin/aws/ecr/pull/metadata.hcl
  builtin/aws/ecs/README.md
  builtin/aws/ecs/metadata.hcl
  builtin/aws/lambda/README.md
  builtin/aws/lambda/function_url/README.md
  builtin/aws/lambda/metadata.hcl
  builtin/aws/ssm/README.md
  builtin/aws/ssm/metadata.hcl
Labels: documentation, plugin, plugin/aws

#6 Waypoint Plugin Integrations Docs: Part 2
  builtin/azure/aci/README.md
  builtin/azure/aci/metadata.hcl
  builtin/consul/README.md
  builtin/consul/components/config-sourcer/README.md
  builtin/consul/metadata.hcl
  builtin/docker/README.md
  builtin/docker/metadata.hcl
  builtin/docker/pull/README.md
  builtin/docker/pull/metadata.hcl
  builtin/docker/ref/README.md
  builtin/docker/ref/metadata.hcl
  builtin/exec/README.md
  builtin/exec/metadata.hcl
  builtin/files/README.md
  builtin/files/metadata.hcl
  builtin/google/cloudrun/README.md
  builtin/google/cloudrun/metadata.hcl
  builtin/k8s/README.md
  builtin/k8s/apply/README.md
  builtin/k8s/apply/metadata.hcl
  builtin/k8s/canary/components/release-manager/parameters.hcl
  builtin/k8s/canary/components/release-manager/readme.md
  builtin/k8s/helm/README.md
  builtin/k8s/helm/metadata.hcl
  builtin/k8s/metadata.hcl
  builtin/nomad/README.md
  builtin/nomad/canary/README.md
  builtin/nomad/canary/metadata.hcl
  builtin/nomad/components/platform/README.md
  builtin/nomad/jobspec/README.md
  builtin/nomad/jobspec/metadata.hcl
  builtin/nomad/metadata.hcl
  builtin/null/README.md
  builtin/pack/README.md
  builtin/pack/metadata.hcl
  builtin/packer/README.md
  builtin/packer/components/config-sourcer/readme.md
  builtin/packer/metadata.hcl
  builtin/tfc/README.md
  builtin/tfc/metadata.hcl
  builtin/vault/README.md
  builtin/vault/metadata.hcl
Labels: plugin, plugin/azure, plugin/docker, plugin/k8s, plugin/nomad, plugin/pack, plugin/google

#7 chore: fix docs; handle empty sections
  builtin/aws/ami/components/builder/README.md
  builtin/aws/ec2/components/platform/parameters.hcl
  builtin/aws/ecs/components/platform/parameters.hcl
  builtin/aws/ecs/components/task/README.md
  builtin/aws/lambda/components/platform/outputs.hcl
  builtin/aws/lambda/function_url/components/release-manager/README.md
  builtin/aws/lambda/function_url/components/release-manager/parameters.hcl
  builtin/aws/ssm/components/config-sourcer/README.md
  builtin/consul/components/config-sourcer/README.md
  builtin/docker/components/builder/README.md
  builtin/docker/components/builder/parameters.hcl
  builtin/docker/components/platform/parameters.hcl
  builtin/docker/components/registry/parameters.hcl
  builtin/docker/components/task/README.md
  builtin/docker/components/task/parameters.hcl
  builtin/docker/pull/components/builder/parameters.hcl
  builtin/files/components/builder/README.md
  builtin/files/components/registry/README.md
  builtin/google/cloudrun/components/platform/README.md
  builtin/google/cloudrun/components/platform/parameters.hcl
  builtin/google/cloudrun/components/release-manager/README.md
  builtin/k8s/apply/components/platform/README.md
  builtin/k8s/canary/components/release-manager/parameters.hcl
  builtin/k8s/canary/components/release-manager/readme.md
  builtin/k8s/components/config-sourcer/README.md
  builtin/k8s/components/platform/README.md
  builtin/k8s/components/platform/parameters.hcl
  builtin/k8s/components/release-manager/README.md
  builtin/k8s/components/release-manager/parameters.hcl
  builtin/k8s/components/task/README.md
  builtin/k8s/components/task/parameters.hcl
  builtin/k8s/helm/components/platform/README.md
  builtin/nomad/components/platform/README.md
  builtin/nomad/components/platform/parameters.hcl
  builtin/nomad/components/task/README.md
  builtin/nomad/jobspec/components/platform/README.md
  builtin/nomad/platform.go
  builtin/packer/components/config-sourcer/readme.md
  builtin/packer/config_sourcer.go
  builtin/tfc/components/config-sourcer/README.md
  builtin/vault/components/config-sourcer/README.md
  internal/cli/app_docs.go
Labels: plugin, plugin/aws, plugin/docker, plugin/k8s, plugin/nomad, plugin/google, core

#8 chore: insert `hashicorp` organization into links
  builtin/aws/alb/README.md
  builtin/aws/ami/README.md
  builtin/aws/ec2/README.md
  builtin/aws/ecr/README.md
  builtin/aws/ecr/pull/README.md
  builtin/aws/ecs/README.md
  builtin/aws/lambda/README.md
  builtin/aws/lambda/function_url/README.md
  builtin/azure/aci/README.md
  builtin/consul/README.md
  builtin/docker/README.md
  builtin/docker/pull/README.md
  builtin/docker/ref/README.md
  builtin/exec/README.md
  builtin/files/README.md
  builtin/google/cloudrun/README.md
  builtin/k8s/README.md
  builtin/k8s/apply/README.md
  builtin/k8s/helm/README.md
  builtin/nomad/README.md
  builtin/nomad/canary/README.md
  builtin/nomad/jobspec/README.md
  builtin/pack/README.md
  builtin/packer/README.md
  builtin/tfc/README.md
  builtin/vault/README.md
Labels: plugin, plugin/aws, plugin/azure, plugin/docker, plugin/k8s, plugin/nomad, plugin/pack, plugin/google
